*{
    margin : 0;
    padding : 0;
    box-sizing:  border-box;
    border-radius: 8px;
}
body{
    width: 100vw;
    height: 100vh;
    background-size:100%;
    display: flex;
    justify-content : center;
    align-items : center;
    background: black;
}
#container {
width: 35%;
height: 65%;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(#7b45b7,#35b4d7);
flex-direction: column;
    
}
.container-form{
    background: #2b2a66;
    width: 50%;
    height: 70%;
}
.container-form-title{
    display: flex;
    justify-content: center;
    color: white;
    background: #242156;
    height: 10%;
    line-height: 42.63px;
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 20px;
}
.container-form-body-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.input-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}
.input-info > input{
    width: 80%;
    height: 35px;
    padding-left: 20px;
    border : none;
}
.container-form-body-checkbox{
    display: flex;
    align-items: flex-start;
    justify-items: space-around;
    flex-direction: column;
    color: white;
    width: 100%;
}
.checkbox {
    display: flex;
    margin-left: 32px;
    margin-bottom: 15px;
}
.checkbox > p {
    margin-left: 50px;
    font-size: 10px;
    font-family: 'Baloo 2', cursive;
}
.checkbox > input{
    margin-top: 3px;
}
.container-form-body-button {
    display: flex;
    justify-content:center;
    height: 50px;
    width: 100%;
    margin-left: 100px;
}
.container-form-body-button > button {
    background : linear-gradient(#4e9120,#5fb02d);
    color:white;
    width: 35%;
    height: 40px;
    border: none;
    border-radius:8px;
    font-size : 17px;
    cursor: pointer;
}
.footer {
    color: white;
    font-family:'Baloo 2 Tamma 2', cursive;
    padding-top: 20px;
}